{% extends 'base.html' %}

{% block content %}
<main class="contact-us">
<section class="container mt-5 mb-5">
    <div class="row mt-5">
<div class="col-md-8  animate__animated animate__fadeInLeft  animate__delay-1s">
    <h2 class="text-center">Our Services</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aut, itaque quos est recusandae
    earum fugiat numquam hic quasi dignissimos vitae mollitia aperiam tempore cum doloremque et accusamus
    praesentium dolores.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam debitis rerum doloribus repellat nulla
    soluta, est aut ipsa exercitationem quo asperiores atque vel voluptate, facilis voluptas dolores, id sunt
    eaque deserunt sapiente eveniet. Ad reprehenderit temporibus distinctio, deserunt quibusdam accusamus soluta
    eum animi quaerat voluptates rem quia, pariatur voluptatem magnam enim ratione aliquid! Aperiam, autem at.
    tempora quam facilis deleniti explicabo labore, accusantium provident quidem omnis tenetur incidunt esse
    quos nisi.
    </p>
</div>
<div class="col-md-4">
    <img src="https://placeimg.com/640/480/any" alt="" class="img-fluid">
</div>
</div>
</section>


<!-- team 1 -->

<div class="row mt-5">
    <div class="card-body">
        <div class="card text-white bg-dark text-center" style="max-width: 20rem;">
            <div class="card-header">Service</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
    </div>
</div>
<div class="card-body">
    <div class="card text-white bg-dark text-center" style="max-width: 20rem;">
        <div class="card-header">Service</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
</div>
</div>

<div class="card-body">
    <div class="card text-white bg-dark text-center" style="max-width: 20rem;">
        <div class="card-header">Service</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
</div>
</div>

<div class="card-body">
    <div class="card text-white bg-dark text-center" style="max-width: 20rem;">
        <div class="card-header">Service</div>
        <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
</div>
</div>



</section>
</main>
</div>

{% endblock %}