{% extends 'base.html' %}

{% block content %}

{% load static %}


<main class="contact-us">
    <section class="container mt-5">
    <h2 class="text-center">Welcome to Dashboard</h2>
    <h4 class="text-center text-50 text-success" >
        hi, {{request.user.username}}. Hope you are having a good day
    </h4>

    <div class="table-responsive- mt-3">

        <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">YTubers_name</th>
            <th scope="col">City</th>
            <th scope="col">Visit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
                <div class="btn btn-accent">Go to Page </div>
            </td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>samuel</td>
            <td>
                <div class="btn btn-accent">Go to Page </div>
            </td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>Bird</td>
            <td>
                <div class="btn btn-accent">Go to Page </div>
            </td>
            </tr>
        </tbody>
        </table>
    </div>

    </section>
</main>


{% endblock %}